<h1 class="phpdocumentor-title">
  <a href="{{ path('/') }}" class="phpdocumentor-title__link">
    <span class="brand-icon">
      {{ include('icons/phpolar.svg')|trim|raw }}
    </span>
    &nbsp;
    PHPolar
  </a>
</h1>
