<div class="closed-on-mobile" role="side-nav">
    <aside>
    <nav>
        {% for version in project.versions %}
            {% for toc in version.tableOfContents %}
            <details role="list" dir="rtl" class="phpdocumentor-sidebar__category">
                <summary aria-haspop="listbox" role="link" class="contrast phpdocumentor-sidebar__category-header">{{ toc.name }}</summary>
                    <ul role="listbox">
                        {% for root in toc.roots %}
                            {{ toc(root, 'components/menu.html.twig', 1) }}
                        {% endfor %}
                    </ul>
            </details>
            {% endfor %}
        {% endfor %}

        <details role="list" dir="rtl" class="phpdocumentor-sidebar__category">
            <summary aria-haspop="listbox" role="link" class="contrast phpdocumentor-sidebar__category-header">Reports</summary>
            <ul role="listbox">
                {% if project.settings.custom['graphs.enabled'] %}
                <li class="phpdocumentor-sidebar__root-package"><a href="graphs/classes.html">Class Diagram</a></li>
                {% endif %}
                <li class="phpdocumentor-sidebar__root-package"><a href="reports/deprecated.html">Deprecated</a></li>
                <li class="phpdocumentor-sidebar__root-package"><a href="reports/errors.html">Errors</a></li>
            </ul>
        </details>
    </nav>
    </aside>
</div>
