<ul>
  <li>
    <a href="https://docs.phpolar.org/#quick-start/" rel="noreferrer noopener" class="contrast">Quick Start</a>
  </li>
  <li>
    <a href="https://docs.phpolar.org/#libraries/" rel="noreferrer noopener" class="contrast">Libraries</a>
  </li>
  <li>
    <a href="https://docs.phpolar.org/#overriding/" rel="noreferrer noopener" class="contrast">Overriding Framework Defaults</a>
  </li>
  <li>
    <a href="https://docs.phpolar.org/#objectives/" rel="noreferrer noopener" class="contrast">Design Goals and Intent</a>
  </li>
  <li>
    <a href="/">API Documentation</a>
  </li>
</ul>
