# Acceptance Test Report

## Automatic Html Encoding (Phpolar\Phpolar\AutomaticHtmlEncoding)
- [x] Should prevent cross-site scripting injection

## Configurable Form Field (Phpolar\Phpolar\ConfigurableFormField)

- [x] Shall support configurable form validation with data set #0
- [x] Shall support configurable form validation with data set #1
- [x] Shall support configurable form validation with data set #2
- [x] Shall support configurable form validation with data set #3
- [x] Shall support configurable form validation with data set #4
- [x] Shall support configurable form validation with data set #5
- [x] Shall support configurable form validation with data set #6
- [x] Shall support configurable form validation with data set #7
- [x] Shall support configurable form validation with data set #8
- [x] Shall support configurable form validation with data set #9
- [x] Shall support configurable form validation with data set #10
- [x] Shall support configurable form validation with data set #11
- [x] Shall support configurable form validation alerts with data set #0
- [x] Shall support configurable form validation alerts with data set #1
- [x] Shall support configurable form validation alerts with data set #2
- [x] Shall support configurable form validation alerts with data set #3
- [x] Shall support configurable form validation alerts with data set #4
- [x] Shall support configurable form validation alerts with data set #5
- [x] Shall support configurable form validation alerts with data set #6
- [x] Shall support converting detected input types to string with data set #0
- [x] Shall support converting detected input types to string with data set #1
- [x] Shall support converting detected input types to string with data set #2
- [x] Shall support converting detected input types to string with data set #3
- [x] Shall support configurable form labels
- [x] Shall support form field type detection
- [x] Shall support hidden form field configuration

## Configurable Storage Entry (Phpolar\Phpolar\ConfigurableStorageEntry)

- [x] Should configure column names
- [x] Should detect data types
- [x] Should allow configuration of size
- [x] Should have optional table name configuration

## Memory Usage (Phpolar\Phpolar\MemoryUsage)

- [x] Memory usage shall be below 800000 bytes

## Project Size (Phpolar\Phpolar\ProjectSize)
- [x] Source code total size shall be below 35000 bytes

## Routing (Phpolar\Phpolar\Routing\Routing)

- [x] Shall invoke the handler registered to the given route
- [x] Shall return a "not found" response when the given route has not been registered
