# Acceptance Test Report

## Automatic HTML Encoding

- [x] Shall prevent cross-site scripting injection

## Configurable Form Object (Model)

- [x] Shall support converting detected datetime-local input types to string
- [x] Shall support converting detected number input types to string
- [x] Shall support converting detected checkbox input types to string
- [x] Shall support converting detected text input types to string
- [x] Shall support configurable form labels
- [x] Shall support form field type detection
- [x] Shall support hidden form field configuration

## Configurable, Storable Object (Model)

- [x] Shall configure column names
- [x] Shall detect data types
- [x] Shall allow configuration of size
- [x] Shall have optional table name configuration

## HTTP Request Routing

- [x] Shall invoke the routable object registered to the given request path
- [x] Shall return a "not found" response when the given location has not been registered

## Low Memory Usage

- [x] Memory usage shall be below 259999 bytes

## Small Project Size

- [x] Source code total size shall be below 19999 bytes
