<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8">
    {% block head %}
        <title>{% block title %}{{ project.name }}{% endblock %}</title>
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ renderBaseUrlHeader() }}
    <link rel="icon" href="https://phpolar.org/resources/images/icon.svg"/>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/base.css">
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/template.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism-okaidia.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/line-numbers/prism-line-numbers.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/line-highlight/prism-line-highlight.css">
    {% endblock %}
    {% block javascripts %}
        <script src="js/template.js"></script>
    {% endblock %}
</head>
<body id="top">
    {% include 'components/header.html.twig' %}

    <main class="container" role="grid-container">
        {% include 'components/sidebar.html.twig' %}

        <div role="document">
            {% if block('on_this_page') is defined %}
            <section>
            {% endif %}
                {% block content %}{% endblock %}
            {% if block('on_this_page') is defined %}
            </section>
            <section class="phpdocumentor-on-this-page__sidebar">
                {{ block('on_this_page') }}
            </section>
            {% endif %}
        </div>
        {% include 'components/search-results.html.twig' %}
        {{ include('components/back-to-top.html.twig') }}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/line-highlight/prism-line-highlight.min.js"></script>
</body>
</html>
