<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8">
    {% block head %}
        <title>{% block title %}{{ project.name }}{% endblock %}</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ renderBaseUrlHeader() }}
    <link rel="icon" href="https://phpolar.org/resources/images/icon.svg"/>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/template.css">
    <style>
        article {
          box-shadow: none !important;
        }
        body > main > section > p,
        body > main > section > header {
          text-align: center;
        }
        body > main > article > footer img,
        body > footer > address img,
        body > footer > header img {
          width: 2.5rem;
        }
        body > header svg,
        body > header img,
        body > main > header img {
          width: 3rem;
          bottom: -0.3rem;
          margin-right: 0.2rem;
        }
        body > header svg,
        body > header img {
          bottom: -0.3rem;
          position: relative;
        }
        body > header {
          position: sticky;
          top: 0;
          background-color: white;
          border-bottom: 1px solid var(--pico-muted-border-color);
        }
        body > header > nav > ul > li > a {
            vertical-align: top;
        }
        body > header > nav > ul > li > a,
        body > header > nav > ul > li > hgroup {
            display: inline-block;
        }
        body > header {
          padding-top: 0;
          padding-bottom: 0;
        }
        body > footer > header img {
          bottom: -0.5rem;
          margin-right: 0.2rem;
        }
        body > main > header img,
        body > footer > header img {
          position: relative;
        }
        body > main > article > section > footer {
          position: relative;
          bottom: 0;
        }
        [role=grid-container] {
          display: grid;
          grid-template-columns: 1fr 4fr;
          column-gap: 1em;
        }
        [role=side-nav] > aside {
           position: sticky;
           top: 10rem;
        }
        @media (max-width: 768px) {
          .closed-on-mobile {
             display: none;
          }
          body > main > aside {
            display: none;
          }
          body > main aside + section {
            width: 100%;
            margin-left: 0;
          }
        }

    body {
        font-family: var(--pico-font-family);
        font-size: inherit;
        letter-spacing: initial;
        line-height: var(--pico-line-height);
    }

    </style>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism-okaidia.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/line-numbers/prism-line-numbers.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/line-highlight/prism-line-highlight.css">
    {% endblock %}
    {% block javascripts %}
        <script src="js/template.js"></script>
    {% endblock %}
</head>
<body id="top">
    {% include 'components/header.html.twig' %}
    <main class="container" role="grid-container">
        {% include 'components/sidebar.html.twig' %}
        <div role="document">
            {% if block('on_this_page') is defined %}
            <section>
            {% endif %}
                {% block content %}{% endblock %}
            {% if block('on_this_page') is defined %}
            </section>
            <section class="phpdocumentor-on-this-page__sidebar">
                {{ block('on_this_page') }}
            </section>
            {% endif %}
        </div>
        {% include 'components/search-results.html.twig' %}
        {{ include('components/back-to-top.html.twig') }}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/line-highlight/prism-line-highlight.min.js"></script>
</body>
</html>
